@import "../imports/ui/App.styles.less";
@import "../imports/ui/QuestionCard/styles.less";
@import "../imports/ui/QuestionReadState/styles.less";
@import "../imports/ui/AnswerList/styles.less";
@import "../imports/ui/AnswerCard/styles.less";
@import "../imports/ui/PlayersInfo/styles.less";
@import "../imports/ui/InitialScreen/styles.less";
@import "../imports/ui/Helpers/styles.less";
@import "../imports/ui/PlayerStatusLine/styles.less";
@import "../imports/ui/CardsAgainstHumanityContent/styles.less";
@import "../imports/ui/VotingDialog/styles.less";
@import "../imports/ui/AddingEditor/style.less";
@import "../imports/ui/QuestionReadState/QuickQuestionCreator/styles.less";
@import "../imports/ui/PictureTaker/styles.less";
@import '../imports/ui/InitialScreen/AvatarCreator/styles.less';

body,
html {
    margin     : 0;
    padding    : 0;
    height     : 100%;
    width      : 100%;
    font-family: 'Exo 2', sans-serif;

    #react-target {
        width : 100%;
        height: 100%;
    }

    .react-draggable-dragging {
        z-index: 1000;
    }
}

* {
    box-sizing: border-box;
}