#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    
}
#react-target{
    
    background-color: #efefef;
}

#quick-alert-wrapper {
    #quick-alert-text{
        padding: 16px 24px;
        text-align: center;
    }
    #quick-alert-button{
        width: 50%;
        margin: 10px auto;
    }
}