.answer-card-wrapper {
    border: 1px solid #aaa;
    background-color: white;
    box-shadow: 1px 1px 3px 0px #bdbdbd;
    padding: 25% 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    .answer-card-text {
        max-width: 100%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
        color:black;
        &.small-font {
            font-size: 0.75rem !important;
        }
    }
}