#answer-pick-state-wrapper {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    position       : relative;

    #select-answer-control-buttons {
        height         : 30px;
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        padding        : 0 40px;

        >* {
            max-width: 120px;
        }

        ;
    }

    #selected-answer-wrapper {
        margin         : 10px auto;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-align     : center;
        color          : #8a8a8a;
        padding        : 32px;
        align-self     : flex-start;
        max-height     : 0;
        width          : 80%;
        position       : relative;
        height         : 25%;
        max-height     : 25%;
        min-height     : 25%;

        &.highlighted {
            background-color: #ffffffaa;
            font-weight     : bold;
            border          : 1px dashed #9a9a9a;
        }

        >.select-answer-container {
            margin   : 0 10px;
            max-width: 50%;
            width    : 60%;
            height   : 70%;
            user-select: none;
            position : absolute;

            &:active {
                z-index: 100;
            }

            >.answer-card-wrapper {

                padding: 15% 6px;
            }
        }

        &.selected {
            margin : 0 auto;
            padding: 20% 0;


        }
    }

    #answer-pick-state-cards-list {
        display  : flex;
        flex-wrap: wrap;
        width    : 100%;
        padding  : 32px 16px;

        .answer-card-super-wrapper {
            margin   : 10px 14px;
            flex     : 1 0 calc(~"50% - 28px");
            max-width: calc(~"50% - 28px");
        }

        .game-card-anim-enter {
            transform: translate(100%, 100%) rotate(145deg);
        }

        .game-card-anim-enter-active {
            transform : unset;
            transition: all .2s linear;
        }
    }
}