.picture-tacker-wrapper{
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    video {
        height: 100%;
        width: 100%;
        display: none;
    }
    canvas {
        height: 100%;
        width: 100%;
    }
}